<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> 
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div>
                        <a href="/" class="nav-brand head">User Management System</a>
                    </div>
                </div>
               
            </nav>
        </header>
    <!-- /Header -->
